
        * {
            border:solid
        }
        h1 {
            color:#FF00;
        }

        .header{
            background:#00FF;
            display:flex;
            justify-content: space-between;


        }
  
        .information{
            background:#00FF00;
        }

        .games{
            background:#3A2B1D;
        }

        .media{
            background:#3F2B1A;
            display:flex;
            justify-content: flex-end;
        }

        body{
            background-color:#3A2B9F
        }
        